  .collection-album-container {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .collection-album-container .caption {
    margin-top: 10px;
  }
 
  .collection-album-container .caption p {
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
  }

  .collection-album-container .caption p a {
    color: rgba(255, 255, 255, 0.6);
  }
 
  .collection-album-container .caption p a.album-name {
    color: white;
  }
 
  .collection-album-container img {
    max-width: 100%;
  }
 
  .collection-album-container .collection-album-image-container {
    position: relative;
  }
 
  .collection-album-container .collection-album-image-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
 
  .collection-album-container .collection-overlay-content {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }
 
  .collection-album-container .collection-overlay-button {
    font-size: 20px;
    background-color: white;
    color: #d2287b;
    border-radius: 50% 50%;
    display: inline-block;
    width: 42px;
    height: 42px;
  }
 
  .collection-album-container .collection-overlay-button:hover {
    cursor: pointer;
    color: white;
    background-color: #d2287b;
  }
 
  .collection-album-container .collection-overlay-button i {
    line-height: 42px;
  }
 
  .collection-album-container .collection-overlay-button .fa-play {
    padding-left: 5px;
  }