  html {
    height: 100%;
  }

  body {
    font-family: 'Open Sans';
    color: white;
    min-height: 100%;
    background: -webkit-radial-gradient(  #2b1339, #380c77);
    background: radial-gradient(   #2b1339, #380c77);
  }

  body.landing {
    background: #5B5579;
  }

  .hero-content {
    background: #2F1D57;
    padding: 100px 0;
  }
 
  .hero-content h1 {
    font-size: 70px;
    margin-bottom: 50px;
    font-weight: 300;
  }

  .selling-points {
    padding: 100px 0;
  }
 
  .selling-points .point {
    width: 32%;
    float: left;
    padding: 0 0.5%;
  }
 
  .selling-points .point h5 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    height: 85px;
  }
 
  .selling-points .point p {
    font-size: 14px;
  }

 // medium-purple: #7B46A3 - 123, 70, 163
 //
 
  .player-header-nav {
   background-color: rgba(123, 70, 163, .9);
  }

  body.landing .navbar {
    margin-bottom: 0;
  }
   
  .album-header-container {
    margin-top: 55px;
    margin-bottom: 40px;
  }
 
  // This styles the right side of our Album Header
  .album-header-information {
    // Pushes the album information down and makes sure there's sufficient space at the bottom of the page
    margin-top: 45px;
    margin-bottom: 20px;
  }
 
  .album-header-information h3, .album-header-information h4, .album-header-information h5 {
    // Modifying the line height allows us to increase the spacing above and
    // below the content. Another way of achieving the same effect would be to
    // set a margin-top and margin-bottom for each of these classes
    line-height: 150%;
  }
 
  .album-header-information h3 {
    font-size: 48px;
    font-weight: 300;
  }
 
  .album-header-information h4 {
    font-size: 24px;
    font-weight: 700;
  }
 
  .album-header-information h5 {
    font-size: 16px;
    font-weight: 500;
  }
 
  // This styles our Song Listing
  .table.album-song-listing {
    // Override the font for the entire table.
    font-weight: 300;
  }
 
    // Override the defaults that Bootstrap sets.
  .table.album-song-listing  td {
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, .4);
  }

  .collection-album-container {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .collection-album-container .caption {
    margin-top: 10px;
  }

  .collection-album-container .caption p {
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
  }

  .collection-album-container .caption p a {
    color: rgba(255, 255, 255, 0.6);
  }

  .collection-album-container .caption p a.album-name {
    color: white;
  }

  .collection-album-container img {
    max-width: 100%;
  }

  .collection-album-container .collection-album-image-container {
    position: relative;
  }
 
  .collection-album-container .collection-album-image-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
 
  .collection-album-container .collection-overlay-content {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }
 
  .collection-album-container .collection-overlay-button {
    font-size: 20px;
    background-color: white;
    color: #d2287b;
    border-radius: 50% 50%;
    display: inline-block;
    width: 42px;
    height: 42px;
  }

  .collection-album-container .collection-overlay-button:hover {
    cursor: pointer;
    color: white;
    background-color: #d2287b;
  }
   
  .collection-album-container .collection-overlay-button i {
    line-height: 42px;
  }
   
  .collection-album-container .collection-overlay-button .fa-play {
    padding-left: 5px;
  }

 .album-song-button {
   text-align: center;
   font-size: 14px;
   background-color: white;
   color: #d2287b;
   border-radius: 50% 50%;
   display: inline-block;
   width: 28px;
   height: 28px;
 }
 
 .album-song-button:hover {
   cursor: pointer;
   color: white;
   background-color: #d2287b;
 }
 
 .album-song-button i {
   line-height: 28px;
 }
 
 .album-song-button .fa-play {
   padding-left: 5px;
 }
 
 .album-song-listing td {
   vertical-align: middle;
 }
 
 td.song-number {
   padding: 0;
   height: 70px;
   text-align: center;
 }
















































