    @import "landing";
    @import "album";
    @import "collection";
    @import "player_bar";
    @import "buttons";
    @import "profile";
    

  html {
    height: 100%;
  }

  body {
    font-family: 'Open Sans';
    color: white;
    min-height: 100%;

  background: -webkit-linear-gradient(180deg, #000000 10%, #53346D 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(180deg, #000000 10%, #53346D 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(180deg, #000000 10%, #53346D 90%); /* IE10 */
  background:      -o-linear-gradient(180deg, #000000 10%, #53346D 90%); /* Opera 11.10+ */
  background:         linear-gradient(180deg, #000000 10%, #53346D 90%); /* W3C */
        
        
        
    // background: -webkit-radial-gradient(  #2b1339, #380c77);
    // background: radial-gradient(   #2b1339, #380c77);
    padding-bottom: 150px;
  }

  body.landing {
    background-color: #403D3D;
    padding-bottom: 0;
  }

 // medium-purple: #7B46A3 - 123, 70, 163
 //
 
  .player-header-nav {
   background-color: #000000;
     .navbar-nav {
       a {
        line-height: 70px;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1.2;     
        &:hover {
           color: rgba(123, 70, 163, .9);
        }
      }
    }
  }

  body.landing .navbar {
    margin-bottom: 0;
  }

  .navbar {
    margin: 0px;
  }

















































