    @import "landing";
    @import "album";
    @import "collection";
    @import "player_bar";

  html {
    height: 100%;
  }

  body {
    font-family: 'Open Sans';
    color: white;
    min-height: 100%;
    background: -webkit-radial-gradient(  #2b1339, #380c77);
    background: radial-gradient(   #2b1339, #380c77);
    padding-bottom: 150px;
  }

  body.landing {
    background: #5B5579;
    padding-bottom: 0;
  }

 // medium-purple: #7B46A3 - 123, 70, 163
 //
 
  .player-header-nav {
   background-color: rgba(123, 70, 163, .9);
  }

  body.landing .navbar {
    margin-bottom: 0;
  }
















































