    @import "landing";
    @import "album";
    @import "collection";
    @import "player_bar";
    @import "buttons";
    @import "profile";
    

  html {
    height: 100%;
  }

  body {
    font-family: 'Open Sans';
    color: white;
    min-height: 100%;
    background: -webkit-radial-gradient(  #2b1339, #380c77);
    background: radial-gradient(   #2b1339, #380c77);
    padding-bottom: 150px;
  }

  body.landing {
    background: #5B5579;
    padding-bottom: 0;
  }

 // medium-purple: #7B46A3 - 123, 70, 163
 //
 
  .player-header-nav {
   background-color: rgba(123, 70, 163, .9);
     .navbar-nav {
       a {
        line-height: 45px;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1.2;     
        &:hover {
           color: rgba(123, 70, 163, .9);
        }
      }
    }
  }

  body.landing .navbar {
    margin-bottom: 0;
  }
















































