
 <div class='hero-content'> <!-- Hero content -->
   <div class='container'>
     <h1> myooz </h1>
     <h3 ng_click="subTextClicked()"> {{ subText }} </h3>
   </div>
 </div>
 
 <div class='selling-points container'> <!-- selling points -->
   <div class='row'>
     <div class='point col-md-4'>
       <h5> Choose your music </h5>
       <p> The world is full of music, why should you have to listen to music that someone else chose? </p>
     </div>
     <div class='point col-md-4'>
       <h5> Unlimited, streaming, ad-free </h5>
       <p> No arbitrary limits. No distractions </p>
     </div> 
     <div class='point col-md-4'>
       <h5>Mobile enabled</h5>
       <p> Listen to your music on the go. This streaming service is available on all mobile platforms</p>
     </div>
   </div>
 </div>
 
 <div class="landing-album-list container">
   <div class="row">
     <div class="col-md-4" ng-repeat="albumURL in albumURLs">
       <img  ng-src="{{albumURL}}">
     </div>
   </div>
 </div>

